Vertical * {
    content-align: center middle;
    align: center top;
}

Horizontal {
    height: 1fr;
    margin-bottom: 2;
}
Letter {
    width: 9;
    /* height: auto; */
    /* padding: 0; */
    /* margin: 2 0; */
}

Grid {
    height: 4fr;
    grid-size: 10 4;
    grid-gutter: 0 0;
    grid-columns: 10;
    grid-rows: 4 4 5;
}

KbKey {
    width: 9;
    height: 3;
    /* text: $background; */
    /* background: $background; */
    border: $primary tall;
}

Legend {
    width: 9;
    height: 3;
    border: $primary tall;
}

.row1 {
    offset: 0 0;
}

.row2 {
    offset: 2 0;
}

.row3 {
    offset: 6 0;
}
